:root {
  --font-relaway: "Relaway", sans-serif;

  /* Fundo vermelho cinematográfico */
  --bg-primary: #5a0000;
  --bg-secondary: rgba(155, 28, 28, 0.7);

  --text-primary: #ffffff;
  --text-secondary: #ffd6d6;
  --text-placeholder: #ffc4c4;

  /* cor laranja destaque */
  --accent-color: #ff7a00;

  --shadow-color: rgba(0, 0, 0, 0.6);
  --shadow: 0px 10px 30px var(--shadow-color);
}

body {
  font-family: var(--font-relaway);
  color: var(--text-primary);

  background:
  radial-gradient(circle at top, #8b0000, #2b0000);

  min-height: 100vh;

  transition:
  background-color 0.3s ease,
  color 0.3s ease;
}

#App{
  padding: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

/* LOGO */

h1{
  font-size: 3.5rem;
  font-weight: 900;
  color: var(--accent-color);
  letter-spacing: 4px;

  text-shadow:
  0 0 10px rgba(255,122,0,0.9),
  0 0 20px rgba(255,122,0,0.7),
  0 0 40px rgba(255,122,0,0.5);

  margin-bottom: 2rem;
}

/* BUSCA */

.search{
  width: 70%;
  margin: 3rem 0 2rem;

  display: flex;
  align-items: center;

  padding: 1.2rem 1.75rem;
  border-radius: 50px;

  background: var(--bg-secondary);

  backdrop-filter: blur(10px);

  box-shadow: var(--shadow);

  transition: 0.3s;
}

.search:hover{
  transform: scale(1.02);
}

.search input{
  flex: 1;
  border: none;
  outline: none;

  padding-right: 1rem;

  color: white;
  background: transparent;

  font-size: 1.2rem;
}

.search input::placeholder{
  color: var(--text-placeholder);
}

.search img{
  width: 28px;
  height: 28px;
  cursor: pointer;

  transition: 0.3s;
}

.search img:hover{
  transform: scale(1.2);
}

/* FILME NÃO ENCONTRADO */

.empty{
  width: 100%;
  margin-top: 2rem;
  text-align: center;

  color: var(--accent-color);
}

/* CONTAINER DE FILMES */

.container{
  width: 100%;
  margin-top: 2rem;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

/* CARD DE FILME */

.movie{
  width: 200px;

  border-radius: 15px;
  overflow: hidden;

  box-shadow: 0 15px 35px rgba(0,0,0,0.7);

  transition: 0.3s;
}

.movie:hover{
  transform: scale(1.08);
}

.movie img{
  width: 100%;
  display: block;
}