.navbar{
  background-color:rgb(165, 88, 209);
  }


.container{
  display: flex;
  gap: 20px;
  padding: 20px;

  & a {
    padding: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

  & a:hover{
    color: rgb(72, 8, 124);
    background-color: rgb(174, 51, 223);
  }
}
