:root{
 /* :root -> variaveis de css no tema original projetado */
--font-raleway:"raleway", sans-serif;
--bg-primary:#f5f5f5;

}

@media (prefers-color-scheme: dark) {
  /* dark  theme */
  :root{
    --bg-primary:#212426;
}

body{
  font-family: var(--font-raleway);
  background: var(--bg-primary);
}
}